<div class="h-full flex justify-content-center px-3">
  <div
    class="fadeinleft animation-duration-500 border-round border-300 w-24rem border-2 m-auto p-3 h-auto"
  >
    <div
      class="bg-cover bg-center h-10rem mb-3 w-full gap-3"
      style="
        background-image: url('../assets/2204_Crypto-Educational-Email-4-1920x1080-EN.png');
      "
    ></div>
    <div class="h-full flex flex-row justify-content-center m-auto">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
